@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  border-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

h1 {
  font-size: 37px;
  font-weight: 700;
  color: #3F3D56;
  text-align: center;
}

label {
  font-size: 14px;
  color: #323730;
}

input {
  border: 1px solid #ABB3A8;
  padding-left: 16px;
  color: #323730;
  font-size: 16px;
}
input::placeholder {
  font-size: 14px;
  color: #ABB3A8;
}
input:focus {
  border: 2px solid #3F3D56;
}

a {
  font-size: 14px;
  color: #1DB9E0;
}

.container-center-login form#login {
  width: 515px;
}
.container-center-login form#login h1 {
  margin-bottom: 31px;
}
.container-center-login form#login .field {
  width: 100%;
}
.container-center-login form#login .field .field-login {
  display: flex;
  flex-direction: column;
}
.container-center-login form#login .field .field-login label {
  margin-bottom: 6px;
}
.container-center-login form#login .field .field-login .input {
  height: 47px;
}
.container-center-login form#login .field .field-login:first-child {
  margin-bottom: 39px;
}
.container-center-login form#login .field .field-login:last-child {
  margin-bottom: 26px;
}
.container-center-login form#login .forget-password {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.container-center-login form#login .forget-password .forget-password-center {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}
.container-center-login form#login .forget-password .forget-password-center #connect {
  margin-right: 8px;
}
.container-center-login form#login .button {
  height: 47px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  position: relative;
  margin-bottom: 32px;
}
.container-center-login form#login .button:hover {
  letter-spacing: 1px;
  cursor: pointer;
  color: #ffffff;
}
.container-center-login form#login .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3F3D56;
  color: #ffffff;
  z-index: -1;
  transition: transform 0.6s;
  transform-origin: bottom right;
  transform: scale(0);
}
.container-center-login form#login .button:hover::before {
  color: #ffffff;
  transition: transform 0.6s;
  transform-origin: top left;
  transform: scale(1);
}
.container-center-login form#login .button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid #3F3D56;
  z-index: -1;
  transition: transform 0.6s;
  transform-origin: top left;
  transform: scale(1);
}
.container-center-login form#login .button:hover::after {
  transition: transform 0.6s;
  transform-origin: bottom right;
  transform: scale(0);
}

/*# sourceMappingURL=style.css.map */
