$background-color: #ffffff;
$background-button-color: #3F3D56;

$tittle-color: #3F3D56;
$text-color: #323730;
$text-button-color: #ffffff;
$border-color: #ABB3A8;
$placeholder-color: #ABB3A8;
$link-color: #1DB9E0;

$container-width-login: 515px;
$container-width-recover: 396px;
$container-width-register: 396px;

$primary-font: 'Roboto', sans-serif;

$time-transform-button-recovery: 1s;
