@import '_variables.scss';
@import '_mixins.scss';
@import 'reset.scss';

body {
    background-color: #ffffff;
}

h1 {
    font-size: 37px;
    font-weight: 700;
    color: $tittle-color;
    text-align: center;
}

label, p, span {
    font-size: 14px;
    color: $text-color;
}

input {
    border: 1px solid $border-color;
    padding-left: 16px;
    color: $text-color;
    font-size: 16px;
    height: 47px;

    &::placeholder {
        font-size: 14px;
        color: $placeholder-color;
    }

    &:focus {
        border: 2px solid $background-button-color;
        border-radius: 5px;
    }
}

a {
    font-size: 14px;
    color: $link-color;
}

.container-center-login {

    @include flex-center;
    height: 100vh;
    
    form#login {
        width: $container-width-login;

        h1 {
            margin-bottom: 31px;
        }

        .field {
            width: 100%;

            .field-login {
                @include flex-column;

                label {
                    margin-bottom: 6px;
                }

                &:first-child {
                    margin-bottom: 39px;
                }

                &:last-child {
                    margin-bottom: 26px;
                }
            }            
        }

        .forget-password {
            @include flex-center;
            justify-content: space-between;

            .forget-password-center {
                display: flex;
                align-items: center;
                margin-bottom: 31px;
                
                #connect {
                    margin-right: 8px;
                }
            }
        }

        .button {
            height: 47px;
            width: 100%;
            background-color: transparent;
            font-size: 16px;
            position: relative;
            margin-bottom: 32px;

            &:hover {
                letter-spacing: 1px;
                cursor: pointer;                 
                color: $text-button-color;
            }

            &::before {
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $background-button-color;
                color: $text-button-color;
                z-index: -1;
                transition: transform 0.6s;
                // transition: 0.4s;
                transform-origin: bottom right;
                transform: scale(0); 
            }

            &:hover {
                &::before {
                    color: $text-button-color;
                    transition: transform 0.6s;
                    // transition: 0.4s;
                    transform-origin: top left;
                    transform: scale(1);
                }
            }

            &::after {
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: 2px solid $background-button-color; 
                transition: transform 0.6s;
                // transition: 0.5s;
                transform-origin: top left;  
                transform: scale(1); 
            }

            &:hover {
                &::after {
                    transition: transform 0.6s;
                    transform-origin: bottom right;
                    transform: scale(0);

                }
            }
        }
    }
}

.container-center-register {

    @include flex-center;
    height: 100vh;

    form#register {
        width: $container-width-register;

        h1 {
            margin-bottom: 22px;            
        }

        .field-name {
            @include flex-column;

            label {
                margin-bottom: 6px;
            }

            input {
                margin-bottom: 24px;
            }
        }

        .field-birth-country {
            display: flex;
            justify-content: space-between;
            margin-bottom: 22px;

            label {          
                span {
                    color: red;
                }
            }

            input {
                width: 170px;
            }

            select {
                width: 208px;
                height: 47px;

                option {
                    color: $text-color;
                    font-size: 14px;
                }
            }          
        }

        .field-genero {

            .genero {
                display: flex;
                justify-content: space-between;

                .genero-align {
                    @include flex-center;

                    input {
                        margin-right: 6px;
                    }
                }
            }
        }

        .field-email-password {
            @include flex-column;

            label {
                margin-bottom: 6px;
            }

            input {
                margin-bottom: 22px;

                &:last-child {
                    margin-bottom: 28px;
                }
            }
        }

        .terms {
            @include flex-center;
            margin-bottom: 28px;

            #terms {
                margin-right: 10px;
            }

            span {
                a {
                    text-decoration: underline;
                }
            }            
        }

        button {
            width: 100%;
            height: 47px;
            border-radius: 5px;
            font-size: 16px;
            color: $text-button-color;
            background-color: $background-button-color;
            position: relative;
            z-index: 1;

            &:hover {
                letter-spacing: 1px;
                cursor: pointer; 
            }

            &::after {
                content:'';
                position: absolute;
                box-shadow: inset 396px 0 0 0 #575477;
                transition: 0.5s;
                top: 0;
                bottom: 0;
                left: 50%;
                right: 50%;
                z-index: -1;
            }
            
            &:hover {
                &::after {
                    border-radius: 5px;
                    left: 0;
                    right: 0;

                }
            }


        }
    }
}

.container-center-recovery {
    @include flex-center;
    height: 100vh;

    form#recovery {
        width: $container-width-recover;

        h1 {
            margin-bottom: 31px;
        }

        p {
            text-align: center;
            margin-bottom: 28px;
        }

        .field {
            @include flex-column;
            margin-bottom: 20px;

            label {
                margin-bottom: 6px;
            }
        }

        .button {
            

            button {
                margin-bottom: 25px;
                width: 100%;
                height: 47px;
                height: 500;
                font-size: 16px;
                background-color: $background-button-color;
                color: $text-button-color;
                background-color: rgba($color: #3F3D56, $alpha: 0.5);
                position: relative;
                transition: 0.4s;    
                
                &:hover {
                    letter-spacing: 1px;
                    cursor: pointer;
                    background-color: #ffffff;
                    color: $text-color; 
                }

                &:hover {
                    &::after {
                        background-color: #ffffff;
                        color: $text-color; 
                    }
                }
                                
                // ----

                span {
                    position: absolute;
                    display: block;
                    background-color: $background-button-color;

                    &:nth-child(1) {
                        left: 0;
                        bottom: 0;
                        width: 2px;
                        height: 100%;
                        transform: scaleY(0);
                        transform-origin: top;
                        transition: transform $time-transform-button-recovery;
                    }                   
                }

                &:hover {
                    span:nth-child(1) {
                        transform: scaleY(1);
                        transform-origin: bottom;
                        transition: transform $time-transform-button-recovery;
                        
                    }
                }

                // ----

                span {
                    &:nth-child(2) {
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform $time-transform-button-recovery;
                    }                   
                }

                &:hover {
                    span:nth-child(2) {
                        transform: scaleX(1);
                        transform-origin: left;
                        transition: transform $time-transform-button-recovery;
                    }
                }

                // ----

                span {
                    &:nth-child(3) {
                        right: 0;
                        bottom: 0;
                        width: 2px;
                        height: 100%;
                        transform: scaleY(0);
                        transform-origin: bottom;
                        transition: transform $time-transform-button-recovery;
                    }                   
                }

                &:hover {
                    span:nth-child(3) {
                        transform: scaleY(1);
                        transform-origin: top;
                        transition: transform $time-transform-button-recovery;
                    }
                }

                // ----

                span {
                    &:nth-child(4) {
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 2px;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: transform $time-transform-button-recovery;
                        
                    }                   
                }

                &:hover {
                    span:nth-child(4) {
                        transform: scaleX(1);
                        transform-origin: right;
                        transition: transform $time-transform-button-recovery;
                    }
                }




                

                
    
                

                
    
                
            }

            

            

            

            

            
        }

        .link-back {
            text-align: center;
        }
    }
}